{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for col in column_names %}
          <th>{{col}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        <td>{{row_}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>

<button class="btn btn-1 btn-sep fa fa-list-ul" onclick="location.href='/'">To Main</button>
<form action="{{ url_for('deploy', bs_id=bs_id) }}" style="display: inline;" method="post">
    <button class="btn btn-2 btn-sep fa fa-plus-square" onclick="move('#27ae60')">Deploy</button>
</form>

<form action="{{ url_for('delete', bs_id=bs_id) }}" style="display: inline;" method="post">
    <button class="btn btn-3 btn-sep fa fa-minus-square" onclick="move('#e74c3c')">Delete</button>
</form>

<div id="myProgress">
  <div id="myBar"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
var i = 0;
function move(clr) {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 1;
    var id = setInterval(frame, 150);
    elem.style.backgroundColor = clr
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
      }
    }
  }
}
</script>
{% endblock %}