{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for col in column_names %}
          <th>{{col}}</th>
        {% endfor %}
          <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
          {data: 'BS' },
          {data: 'vlan'},
          {data: 'bs_type'},
          {data: 'description'},
          {data: 'service', searchable: false},
          {data: 'port'},
          {data: 'ncs'},
          {data: 'deployed_on'},
          {data: 'BS',
            "bSortable": false,
            "mRender": function(data) {
              return '<a class="btn btn-info btn-sm" href=' + data + '>' + 'Deploy/Delete' + '</a>';
            }

          },
        ],
      });
    });
  </script>
{% endblock %}