{% extends "base.html" %}

{% block top_buttons %}
  <form action="{{ url_for('refresh') }}" style="display: inline;" method="post">
    <a class="btn btn-1 btn-sep fa fa-refresh">REFRESH</a>
  </form>
  <a class="btn btn-1 btn-sep fa fa-refresh" href="{{ url_for('show_seps') }}">Manage SEPs</a>
{% endblock %}


{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for col in column_names %}
          <th>{{col}}</th>
        {% endfor %}
          <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
          {data: 'BS' },
          {data: 'vlan'},
          {data: 'bs_type'},
          {data: 'description'},
          {data: 'service', searchable: false},
          {data: 'port'},
          {data: 'ncs'},
          {data: 'deployed_on'},
          {data: 'BS',
            "bSortable": false,
            "mRender": function(data) {
              return '<a class="button button-1" href=' + data + '>' + 'Deploy/Delete' + '</a>';
            }

          },
        ],
      });
    });
  </script>
{% endblock %}