{% extends "base.html" %}

{% block top_buttons %}
  <a class="btn btn-1 btn-sep fa fa-list-ul" href="{{ url_for('index') }}">To Main</a>
  <a class="btn btn-2 btn-sep fa fa-plus-square" href="{{ url_for('create_sep') }}">Create SEP</a>
{% endblock %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
          <th></th>
          <th>SEP NAME</th>
          <th>SIDE A</th>
          <th>PORT A</th>
          <th>SIDE B</th>
          <th>PORT B</th>

      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/seps/data',
        columns: [
          {data: 'sep_name',
            "bSortable": false,
            "mRender": function(data) {
              return '<a class="button button-1" href=/seps/' + data + '/edit>' + 'Edit/Del' + '</a>';
            }
          },
          {data: 'sep_name'},
          {data: 'site_a'},
          {data: 'port_a'},
          {data: 'site_b'},
          {data: 'port_b'}

        ],
      });
    });
  </script>
{% endblock %}