{% extends "base.html" %}

{% block content %}
    <form method="post">
        <p>
            <label class="label" for="sep_name">SEP Name</label>
            <input type="text" name="sep_name" required
                   placeholder="SEP Name">
        </p>

        <p>
            <label class="label" for="side_1">Router A</label>
            <input list="rtrs" id="side_1" name="side_1" required
                   onchange="resetIfInvalid(this);" placeholder="Router side A"/>
            <datalist id="rtrs">
                {% for rtr in rtrs %}
                    <option value="{{ rtr }}">
                {% endfor %}
                <input  autoComplete="on" list="rtrs"/>
        </p>

        <p>
            <label class="label" for="port_1">Port A</label>
            <input type="text" name="port_1" required
                   placeholder="Port on rtr A">
            </input>
        </p>

        <p>
            <label class="label" for="side_2">Router B</label>
            <input list="rtrs" id="side_2" name="side_2" required
                   onchange="resetIfInvalid(this);" placeholder="Router side B"/>
            <datalist id="rtrs">
                {% for rtr in rtrs %}
                    <option value="{{ rtr }}">
                {% endfor %}
                <input  autoComplete="on" list="rtrs"/>
        </p>

        <p>
            <label class="label" for="port_2">Port B</label>
            <input type="text" name="port_2"
                   placeholder="Port on rtr B">
            </input>
        </p>
        <p>
            <button class="btn btn-2 btn-sep fa fa-plus-square" type="submit">Submit</button>
            <a class="btn btn-1 btn-sep fa fa-list-ul" href="{{ url_for('show_seps') }}">Cancel</a>
<!--            <a class="button button-3" type="submit">Delete SEP</a>-->
        </p>
    </form>

{% endblock %}

{% block scripts %}
<script>
function resetIfInvalid(el){
   //just for beeing sure that nothing is done if no value selected
   if (el.value == "")
       return;
   var options = el.list.options;
   for (var i = 0; i< options.length; i++) {
       if (el.value == options[i].value)
           //option matches: work is done
           return;
   }
   //no match was found: reset the value
   el.value = "";
}
</script>
{% endblock %}